body {
    margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
  
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 35px 50px;
  text-decoration: none;
  font-size: 35px;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a.logo{
  background-color: none;
  font-size: 35px;
  float: left;
  text-align: center;
}

.topnav a.logo:hover{
  background-color: #333;
  color: yellowgreen;
}

#btn-locate {
  background-color: rgb(160, 91, 224); 
  border-radius: 30px;
  border: white;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 45%;
}